@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: none;
}

.prose pre {
  background-color: #1e293b;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-x: auto;
}

.prose code {
  font-family: 'Courier New', Courier, monospace;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  font-weight: 400;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}
